@font-face {
	font-family: 'DIN-Light';
	src: url('../fonts/DIN-Light.ttf');
}

@font-face {
	font-family: 'DIN-Bold';
	src: url('../fonts/DIN-Bold.ttf');
}

.din {
	font-family: 'DIN-Light';
}

.din h1, h2, h3, h4 {
	font-family: 'DIN-Bold';
}

.footer {
	background-color: black;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.picture-row {
	padding: 30px 0px 30px 30px;
}

.title-slide {
	height: 100vh;
	position: relative;
	color: white;
	background-image: url('../img/cnc.jpg');
	background-size: cover;
	background-position: 0 -100px;
	background-repeat: no-repeat;
}

#title-box {
	margin-top: 35%;
}

.slide {
	/* padding-top: 75vh; */
	padding-bottom: 50px;
}

#internship,
#lab,
#designathon,
#introduction {
	color: white;
	margin-top: 5vh;
}

#overview {
	margin-top: 5vh;
}
.thumbnail-caption {
	text-align: center;
	padding-top: 10px;
}

.slide-cover {
	height: 100vh;
}

.slide-header {
	position: relative;
	top: 10vh;
}

.slide-link {
	color: rgb(192,192,192);
}

#image-thelab {
	height: 75vh;
	background-image: url('../img/lab43.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -700px;
}

#image-theinternship {
	height: 85vh;
	background-image: url('../img/3dprinter.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -150px;
}

#image-designathon {
	height: 75vh;
	background-image: url('../img/electronic.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -200px;
}

#image-introduction {
	height: 85vh;
	background-image: url('../img/laser.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -100px;
}

.jumbotron {
	margin-bottom: 0px !important;
}

.video-holder {
	height: 75vh;
	overflow: hidden;
}